app-header {
    background-color: #212529;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

app-footer {
    background-color: #212529;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
}